button {
	width: 100%;
	background-color: #333333;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

.modify-image-gallery-button,
#about,
#create-gallery {
	a {
		border-radius: 15px;
		background-color: #333333;
		color: white;
		padding: 5px;
		transition: 0.2s all;

		&:hover {
			background-color: lighten($color: #333333, $amount: 10);
		}
	}
}

#create-gallery a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	text-align: center;
	max-width: 150px;
	margin-left: auto;
}

@media screen and (min-width: 1040px) {
	#create-gallery {
		display: flex;
		flex-direction: row;
		a {
			width: 10rem;
		}
		justify-content: space-between;
	}
}
