button {
	width: 100%;
	background-color: #333333;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

.modify-image-gallery-button,
#about {
	margin: 5px;
	a {
		border: 2px solid black;
		border-radius: 15px;
		background-color: #333333;
		color: white;
		padding: 5px;
	}
}

#create-gallery a {
	display: block;
	width: 100%;
	text-align: center;
	max-width: 150px;
	margin-left: auto;
}

@media screen and (min-width: 1040px) {
	#create-gallery {
		display: flex;
		flex-direction: row;
		a {
			width: 10rem;
		}
		justify-content: space-between;
	}
}
