.createGallery {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 2%;

	form {
		margin: 49px;

		#isPrivate {
			width: auto;
		}
	}

	.modify-image-gallery-button {
		text-align: center;
	}
}
