.createGallery {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 2%;

	form {
		margin: 49px;

		h1 {
			font-weight: bold;
			text-align: center;
			font-size: 2.5em;
		}

		#isPrivate {
			width: auto;
		}
	}

	.modify-image-gallery-button {
		text-align: center;
	}
}
