@import "_mixins.scss";

header {
	display: flex;
	justify-content: space-between;
	background: #333333;
	color: #ffffff;
	padding: 1rem;
	height: 100px;
	flex-direction: column;
	align-items: center;

	h1 {
		font-size: 1.75rem;
	}

	#open-menu,
	#close-menu {
		position: fixed;
		right: 1rem;
		font-size: 2rem;
		width: 2rem;
		height: 2rem;
		top: 1rem;
		color: white;
		z-index: 1000;
		text-align: center;
		transition: 0.3s all;
		text-shadow: 0 0 5px #00000050;
	}

	#close-menu {
		opacity: 0;
		transform: scale(0);
	}

	#burger-checkbox {
		position: fixed;
		z-index: 1001;
		right: 1rem;
		top: 1rem;
		width: 2rem;
		height: 2rem;
		opacity: 0;

		&:checked {
			& ~ nav {
				z-index: 100;
				opacity: 0.9;
			}

			& ~ #open-menu {
				opacity: 0;
				transform: scale(0);
			}

			& ~ #close-menu {
				opacity: 1;
				transform: scale(1);
			}
		}
	}

	nav {
		position: fixed;
		height: 100vh;
		right: 0;
		top: 0;
		background: #333333;
		opacity: 0;
		width: 100%;
		z-index: -1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		transition: 0.3s all;
	}

	form {
		display: flex;
		gap: 0.5rem;
		width: 100%;
		justify-content: center;

		input[type="submit"] {
			max-width: 100px;
		}
	}
}

@include screen-m {
	header {
		flex-direction: row;

		#open-menu,
		#close-menu {
			display: none;
		}

		nav {
			position: relative;
			height: 100%;
			opacity: 1;
			z-index: 10;
			width: 100%;
			display: flex;
			flex-direction: row;
			gap: 1rem;
		}

		form {
			max-width: 500px;
			justify-content: flex-end;
		}
	}
}

@include screen-l {
	header {
		nav {
			justify-content: flex-start;
			padding-left: 1rem;
		}
	}
}
