.image-article {
	div {
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
}

.img-fullsize .title {
	h1,
	h3 {
		text-align: center;
	}
	span {
		display: block;
		text-align: center;
	}
}

.img-fullsize {
	& > div:first-of-type {
		height: calc(100vh - 100px);
		overflow: hidden;
		width: 100%;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}
