@import "_mixins.scss";
@import "reset.scss";
@import "image.scss";
@import "gallery.scss";
@import "header.scss";
@import "pagination.scss";
@import "footer.scss";
@import "login.scss";
@import "signup.scss";
@import "createGallery.scss";
@import "button.scss";

html,
body {
	color: black;
	font-size: 16px;
	width: 100%;
	height: 100%;
	font-family: "Roboto", sans-serif;
}

body {
	overflow-x: hidden;
}

main {
	min-height: calc(100vh - 200px);

	article {
		width: 100%;
		aspect-ratio: 1/1;
	}
}

#home-list,
#user-list,
#gallery-list {
	display: grid;
	padding: 1rem;
	width: 100%;
	grid-gap: 8px;

	@include screen-xs() {
		grid-template-columns: repeat(2, 1fr);
	}

	@include screen-m() {
		grid-template-columns: repeat(5, 1fr);
	}

	@include screen-l() {
		grid-template-columns: repeat(8, 1fr);
	}

	article {
		width: 100%;
		a {
			width: 100%;
		}
		&:nth-of-type(n) {
			@include col_xs(1, 2);
		}

		&:nth-of-type(n + 1) {
			@include col_xs(2, 3);
		}

		&:nth-of-type(1) {
			@include col_m(1, 3);
			@include row_xs(2);
			@include row_s(1);
		}
		&:nth-of-type(2) {
			@include col_m(2, 4);
			@include row_xs(2);
			@include row_s(1);
		}
		&:nth-of-type(3) {
			@include col_m(4, 6);
			@include row_xs(2);
			@include row_s(1);
		}
	}
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#about {
	padding-top: 1rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	a {
		width: auto;
		margin: 5px;
	}
}
