@import "_mixins.scss";
@import "reset.scss";
@import "image.scss";
@import "gallery.scss";
@import "header.scss";
@import "pagination.scss";
@import "footer.scss";
@import "login.scss";
@import "signup.scss";
@import "createGallery.scss";

html,
body {
	color: black;
	font-size: 16px;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	font-family: "Roboto", sans-serif;
}

main {
	min-height: calc(100vh - 200px);

	article {
		width: 100%;
		aspect-ratio: 1/1;
	}
}

#home-list,
#gallery-list {
	display: grid;
	padding: 1rem;
	width: 100%;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 8px;

	section {
		article {
			width: 100%;
			a {
				width: 100%;
			}
		}
		&:nth-of-type(n) {
			@include col_xs(1,2);
		}

		&:nth-child(n + 1) {
			@include col_xs(2,3)
		}
	}
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#about {
	padding-top: 1rem;
	text-align: center;
}
