@import "reset.scss";
@import "image.scss";
@import "gallery.scss";

html,
body {
	color: black;
	font-size: 16px;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	font-family: "Roboto", sans-serif;
}
